# Gravity Model Test

In [27]:
import skmob
from skmob.utils import utils, constants
import geopandas as gpd
from skmob.models.gravity import Gravity
import pandas as pd
import numpy as np

In [18]:
# load a spatial tessellation
url_tess = skmob.utils.constants.NY_COUNTIES_2011
tessellation = gpd.read_file(url_tess).rename(columns={'tile_id': 'tile_ID'})
tessellation.head(3)

  tile_ID  population                                           geometry
0   36019       81716  POLYGON ((-74.00667 44.88602, -74.02739 44.995...
1   36101       99145  POLYGON ((-77.09975 42.27421, -77.09966 42.272...
2   36107       50872  POLYGON ((-76.25015 42.29668, -76.24914 42.302...

In [5]:
#skmob.utils.constants.NY_FLOWS_2011

In [19]:
# load the file with the real fluxes
fdf = skmob.FlowDataFrame.from_file(skmob.utils.constants.NY_FLOWS_2011,
                                    tessellation=tessellation,
                                    tile_id='tile_ID',
                                    sep=",")
fdf.head(10)

     flow origin destination
0  121606  36001       36001
1       5  36001       36005
2      29  36001       36007
3      11  36001       36017
4      30  36001       36019
5     728  36001       36021
6      38  36001       36023
7       6  36001       36025
8     183  36001       36027
9      31  36001       36029

In [20]:
# compute the total outflows from each location of the tessellation (excluding self loops)
tot_outflows = fdf[fdf['origin'] != fdf['destination']].groupby(by='origin')[['flow']].sum().fillna(0)
tessellation = tessellation.merge(tot_outflows, left_on='tile_ID', right_on='origin').rename(columns={'flow': 'tot_outflow'})
tessellation.head(3)

,tile_ID,population,geometry,tot_outflow
0,36019,81716,"POLYGON ((-74.00667 44.88602, -74.02739 44.995...",2472
1,36101,99145,"POLYGON ((-77.09975 42.27421, -77.09966 42.272...",9196
2,36107,50872,"POLYGON ((-76.25015 42.29668, -76.24914 42.302...",11640

In [21]:
gravity_singly = Gravity(gravity_type='singly cons/tetrained')
print(gravity_singly)

Gravity(name="Gravity model", deterrence_func_type="power_law", deterrence_func_args=[-2.0], origin_exp=1.0, destination_exp=1.0, gravity_type="singly cons/tetrained")

In [22]:
np.random.seed(0)
synth_fdf = gravity_singly.generate(tessellation,
                                    tile_id_column='tile_ID',
                                    tot_outflows_column='tot_outflow',
                                    relevance_column= 'population',
                                    out_format='flows')
# print a portion of the synthetic flows
print(synth_fdf.head())

/Users/wendyshi2001/anaconda3/envs/skmob/lib/python3.9/site-packages/geopandas/geoseries.py:574: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  result = super().apply(func, convert_dtype=convert_dtype, args=args, **kwargs)
100%|████████████████████████████████████████| 62/62 [00:00<00:00, 14142.20it/s]

  origin destination       flow
0  36019       36101   8.232574
1  36019       36107   5.494089
2  36019       36059  92.648021
3  36019       36011  11.996455
4  36019       36123   2.662977

/Users/wendyshi2001/anaconda3/envs/skmob/lib/python3.9/site-packages/skmob/models/gravity.py:43: RuntimeWarning: divide by zero encountered in power
  return np.power(x, exponent)

In [23]:
# instantiate a Gravity object (with default parameters)
gravity_singly_fitted = Gravity(gravity_type='singly constrained')
print(gravity_singly_fitted)

Gravity(name="Gravity model", deterrence_func_type="power_law", deterrence_func_args=[-2.0], origin_exp=1.0, destination_exp=1.0, gravity_type="singly constrained")

In [24]:
# fit the parameters of the Gravity from the FlowDataFrame
gravity_singly_fitted.fit(fdf, relevance_column='population')
print(gravity_singly_fitted)

Gravity(name="Gravity model", deterrence_func_type="power_law", deterrence_func_args=[-1.9947152031913102], origin_exp=1.0, destination_exp=0.647175955222312, gravity_type="singly constrained")

/Users/wendyshi2001/anaconda3/envs/skmob/lib/python3.9/site-packages/geopandas/geoseries.py:574: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  result = super().apply(func, convert_dtype=convert_dtype, args=args, **kwargs)
/Users/wendyshi2001/anaconda3/envs/skmob/lib/python3.9/site-packages/statsmodels/genmod/families/links.py:13: FutureWarning: The log link alias is deprecated. Use Log instead. The log link alias will be removed after the 0.15.0 release.
  warnings.warn(

In [25]:
# generate the synthetics flows
np.random.seed(0)
synth_fdf_fitted = gravity_singly_fitted.generate(tessellation,
                                                  tile_id_column='tile_ID',
                                                  tot_outflows_column='tot_outflow',
                                                  relevance_column= 'population',
                                                  out_format='flows')
# print a portion of the synthetic flows
print(synth_fdf_fitted.head())

/Users/wendyshi2001/anaconda3/envs/skmob/lib/python3.9/site-packages/geopandas/geoseries.py:574: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  result = super().apply(func, convert_dtype=convert_dtype, args=args, **kwargs)
100%|████████████████████████████████████████| 62/62 [00:00<00:00, 15573.53it/s]

  origin destination       flow
0  36019       36101  10.845082
1  36019       36107   9.152439
2  36019       36059  48.647299
3  36019       36011  17.042488
4  36019       36123   5.664702

/Users/wendyshi2001/anaconda3/envs/skmob/lib/python3.9/site-packages/skmob/models/gravity.py:43: RuntimeWarning: divide by zero encountered in power
  return np.power(x, exponent)

In [28]:
synth_fdf_fitted.to_excel("synth_fdf_fitted.xlsx")
synth_df = pd.read_excel("synth_fdf_fitted.xlsx")
synth_df.head(3)

   Unnamed: 0  origin  destination       flow
0           0   36019        36101  10.845082
1           1   36019        36107   9.152439
2           2   36019        36059  48.647299

In [29]:
Matrix = synth_df.pivot_table(index='origin', 
                              columns='destination', 
                              values= 'flow',
                              aggfunc='sum',
                              fill_value=0)

In [30]:
Matrix

destination,36001,36003,36005,36007,36009,36011,36013,36015,36017,36019,...,36105,36107,36109,36111,36113,36115,36117,36119,36121,36123
origin,,,,,,,,,,,,,,,,,,,,,
36001,0.000000,21.509990,554.822739,235.335338,22.036758,70.193235,23.290370,64.544832,134.712649,58.471888,...,231.221160,63.384298,91.672993,824.546869,252.397695,343.037523,53.024083,627.031108,18.054149,24.066351
36003,27.052248,0.000000,56.057940,69.269216,439.420768,59.996967,137.782272,122.767416,23.504549,6.498911,...,16.343886,46.985627,88.562269,22.108145,8.216476,7.094669,68.532526,45.144489,306.701022,80.852323
36005,195.964330,15.743336,0.000000,117.863726,16.958582,28.930694,18.400120,42.446995,42.380580,16.985596,...,201.532234,37.003882,46.386440,367.901666,30.440231,35.296444,23.916787,12908.281605,11.906918,13.361171
36007,152.957592,35.798186,216.890875,0.000000,29.446241,127.566979,26.224821,289.957686,719.783011,14.785150,...,159.164817,751.983433,481.815181,158.701742,28.764727,25.763371,67.231763,193.899549,25.263862,55.882850
36009,35.795938,567.549144,77.992492,73.592238,0.000000,61.287586,869.467882,96.263483,26.080436,9.614862,...,20.502315,44.112958,79.252439,28.722310,11.352356,9.867464,77.927530,62.146203,375.752148,58.150785
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36115,821.751532,13.513501,239.390586,94.954969,14.551856,43.255062,16.086587,33.798978,53.131636,112.612830,...,64.201824,30.018866,47.465480,164.224407,1330.691283,0.000000,37.010208,244.068517,12.073707,14.388782
36117,121.483723,124.847116,155.140427,236.993007,109.913185,1293.179389,98.895656,210.672391,117.119236,36.774437,...,51.530265,130.300331,353.680563,77.599617,46.083497,35.397090,0.000000,133.586131,165.858602,281.637323
36119,488.470359,27.963448,28470.479592,232.403164,29.804215,55.825794,32.156561,77.879420,87.058288,34.458124,...,473.972057,69.903385,88.286784,1083.243733,66.430720,79.371026,45.421929,0.000000,21.444075,24.829274
36121,23.029637,311.072874,43.001800,49.582214,295.070299,60.431707,143.586433,68.088591,18.691840,6.434136,...,12.293046,30.817739,63.971746,17.447513,7.634411,6.429124,92.342822,35.113025,0.000000,65.803698
36123,19.913640,53.194871,31.301284,71.143473,29.621697,150.075739,20.797934,153.899330,26.670852,4.267096,...,11.305825,58.694662,206.886837,15.199880,6.015006,4.970105,101.715159,26.372742,42.685526,0.000000

# Radiation Model

In [31]:
from skmob.models.radiation import Radiation
# instantiate a Radiation object
radiation = Radiation()
# start the simulation
np.random.seed(0)
rad_flows = radiation.generate(tessellation,
                               tile_id_column='tile_ID',
                               tot_outflows_column='tot_outflow',
                               relevance_column='population',
                               out_format='flows_sample')
# print a portion of the synthetic flows
print(rad_flows.head())

/Users/wendyshi2001/anaconda3/envs/skmob/lib/python3.9/site-packages/geopandas/geoseries.py:574: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  result = super().apply(func, convert_dtype=convert_dtype, args=args, **kwargs)
100%|█████████████████████████████████████████| 62/62 [00:00<00:00, 4460.80it/s]

  origin destination  flow
0  36019       36033   962
1  36019       36031   357
2  36019       36089   457
3  36019       36113   129
4  36019       36041    13

In [32]:
rad_flows

     origin destination  flow
0     36019       36033   962
1     36019       36031   357
2     36019       36089   457
3     36019       36113   129
4     36019       36041    13
...     ...         ...   ...
3187  36103       36009    74
3188  36103       36073    31
3189  36103       36029   699
3190  36103       36063   169
3191  36103       36013   113

[3192 rows x 3 columns]

In [35]:
subset = rad_flows[rad_flows['origin'] != rad_flows['destination']]
print(subset.shape)